<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Recipes" asp-action="All">Recipes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Recipes" asp-action="All">All Recipes <span class="sr-only">(current)</span></a>
                    </li>
                    @await Component.InvokeAsync("RecipeCategories")
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipes" asp-action="Add">Add Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Recipes" asp-action="Own">My Recipes</a>
                        </li>
                        @if (!this.User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="ContactHost">Contact Us</a>
                            </li>
                        }


                    }
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="AddCategory">Add category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="RemoveCategory">Remove category</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrator
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="dropdown-divider">Users</div>
                                <a asp-area="Admin" asp-controller="Home" asp-action="AllUsers" class="dropdown-item">
                                    All users
                                </a>
                                <a asp-area="Admin" asp-controller="Home" asp-action="CreateUser" class="dropdown-item">
                                    Create user
                                </a>
                                <div class="dropdown-divider">Роли</div>
                                <a asp-area="Admin" asp-controller="Home" asp-action="AllRoles" class="dropdown-item">
                                    All roles
                                </a>
                                <a asp-area="Admin" asp-controller="Home" asp-action="CreateRole" class="dropdown-item">
                                    Create role
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact user</a>
                        </li>
                    }

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Recipes
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</body>
</html>
