@using Web.Models.AdminModels
@model RoleDetailsViewModel
<div class="header mt-md-5">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="header-pretitle">
                    Roles
                </h6>
                <h1 class="header-title">
                    Details about role
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Роля: @Model.Name</h5>
            <div class="card-body">
                <a asp-area="Admin" asp-controller="Home" asp-action="AllRoles" class="btn btn-secondary btn-block">Back</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
