@model Microsoft.AspNetCore.Identity.IdentityRole
<div class="header mt-md-5">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="header-pretitle">
                    Roles
                </h6>
                <h1 class="header-title">
                    Update role
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form class="forms-sample" asp-area="Admin" asp-action="EditRole" asp-controller="Home">
            <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Name">Role</label>

                    <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Insert name of role" required="">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sign-btn text-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Save change in role">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sign-btn text-center">
                        <a asp-area="Admin" asp-controller="Home" asp-action="AllRoles" class="btn btn-secondary btn-block">Back</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

